<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t(:idcode)%>
    <%= form.text_field :idcode, id: :user_idcode %>
  </div>

  <div class="field">
    <%= form.label t(:username) %>
    <%= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label t(:email) %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label t(:grade) %>
    <%= form.text_field :grade, id: :user_grade %>
  </div>

  <div class="field">
    <%= form.label t(:classname) %>
    <%= form.text_field :classname, id: :user_classname %>
  </div>

  <div class="field">
    <%= form.label t(:sex) %>
    <%= form.text_field :sex, id: :user_sex %>
  </div>

  <div class="field">
    <%= form.label t(:score) %>
    <%= form.number_field :score, id: :user_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
