<p id="notice"><%= notice %></p>

<p>
  <strong>Bookname:</strong>
  <%= @book.bookname %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @book.pic %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
