<%= form_with(model: classname, local: true) do |form| %>
  <% if classname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classname.errors.count, "error") %> prohibited this classname from being saved:</h2>

      <ul>
      <% classname.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t(:classname) %>
    <%= form.text_field :classname, id: :classname_classname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
