<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @csh.area %>
</p>

<p>
  <strong>School:</strong>
  <%= @csh.school %>
</p>

<p>
  <strong>Sit no:</strong>
  <%= @csh.sit_no %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @csh.grade %>
</p>

<p>
  <strong>C name:</strong>
  <%= @csh.c_name %>
</p>

<p>
  <strong>S no:</strong>
  <%= @csh.s_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @csh.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @csh.sex %>
</p>

<p>
  <strong>Score:</strong>
  <%= @csh.score %>
</p>

<p>
  <strong>Pj:</strong>
  <%= @csh.pj %>
</p>

<p>
  <strong>Period:</strong>
  <%= @csh.period %>
</p>

<%= link_to 'Edit', edit_csh_path(@csh) %> |
<%= link_to 'Back', cshes_path %>
